.title {
    color: rgb(43, 43, 183);  
}
.entrada{
    padding: 12px;
}
.btn{
    padding: 8px;
    height: 25px;
    text-align:center;
}
.validate{
    background-color: #f4f4f4;
    padding: 15px;   
}
.formulario {
   background-color:white; 

}
