<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constancias</title>
    <link rel= "stylesheet" href= "css/constancia.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <form class="formulario" >
                <div>
                  <h1 class = "title"> <p style="text-align:center"> CONSTANCIAS I.E. 20 DE JULIO</p>
                  </h1>  
                  
                  <div class="entrada">
                    <input type="email" id="email" class="validate" placeholder="Correo Institucional" required >
                  </div> 
                  
                  <div class="entrada">
                    <input type="text" id="documentoId" class="validate" placeholder="Documento" required >
                  </div>
  
                  <div class="entrada">
                    <input type="text" id="name" class="validate" placeholder="Nombre y Apellidos" required>
                  </div>
  
                    <button class = "btn" type="submit"  id="boton1">Enviar</button>
                </div>
                <div>
                  <p>Nueva implementación 27</p>
                </div>
            </form>
        </div>
      </div>
  
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
      </script>
      
        <?!= include("js/p_js"); ?>
</body>
</html>